.loginContain{
    
    
    background: rgba(13, 14, 13, 0.7);
    height: 100%;
    display: flex;
    align-items: center;
    

}
.loginForm{
    background: rgba(13, 14, 13, 0.8);
    /* margin: 20%; */
    border-radius: 5%;
    height: 80%;
   

}
.top{
    margin-top: 10vh;
}
.input{
    height: 30px;
    /* margin-left: 31%; */
    margin-bottom: 10vh;
    
}
.loginButton{
    
    margin: 0 auto;
    
}

.className{
    display: flex;
    justify-content: center;
}