.participants{
    
   height: 90px;
   display: flex ;
   overflow: scroll;
   contain: content;
    
}

.foundationPar{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
.profileImgPar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    background: rgba(13, 14, 13, 0.7);
    width: 70px;
    
}
.midlayerPar{
    border-radius: 100%;
    background: url("http://placekitten.com/g/200/300");
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
  
}
.name{
    margin: 2px;
    color: white
}
.conversations{
    max-height: 80%;
    overflow: scroll
}

